*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 31.25em) {
    html {
      font-size: 31.2%; } }

body {
  font-family: "Nunito", sans-serif;
  color: #8e8d8a;
  font-weight: 300;
  line-height: 1.6;
  background-color: #eae7dc; }

.container {
  display: grid;
  grid-template-rows: 100vh repeat(5, min-content) 100vh;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.mt-small {
  margin-top: 2rem; }

.parallax {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.btn {
  display: inline-block;
  background-color: transparent;
  padding: 1rem 2.5rem;
  border-radius: 5px;
  border: 1px solid currentColor; }

.heading-primary {
  font-size: 4rem; }
  .heading-primary--main {
    display: block;
    line-height: 1.4; }
    .heading-primary--main span {
      color: #e85a4f; }

.heading-secondary {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3rem;
  text-transform: capitalize;
  color: #e85a4f;
  letter-spacing: 0.5rem;
  text-align: center;
  margin-bottom: 5vh; }

.heading-gold {
  color: #d8c3a5; }

.navigation {
  grid-column: center-start / center-end;
  margin: 2rem auto;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2; }
  .navigation__list {
    width: 35vw;
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 1.3rem; }
  .navigation__link {
    text-transform: uppercase;
    text-decoration: none;
    color: #e85a4f;
    font-weight: 600;
    letter-spacing: 2px; }

.header {
  background-image: linear-gradient(#eae7dc, #eae7dc);
  grid-column: full-start / full-end; }

.header--clone {
  position: relative; }

.about {
  grid-column: full-start / full-end;
  font-size: 2.5rem;
  padding: 5rem;
  background-image: url("../img/bg5.jpg");
  background-blend-mode: color;
  background-position: top left;
  color: #d8c3a5; }
  .about__text {
    opacity: 1;
    transition: opacity 0.2s ease-in; }
  .about__text.fade {
    opacity: 0;
    transition: none; }

.skills-section {
  grid-column: full-start / full-end;
  padding: 5rem;
  background: #eae7dc; }

.skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  grid-gap: 4rem; }

.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .skill:hover .skill-text {
    opacity: 1; }
  .skill:hover .skill-icon {
    fill: #eae7dc;
    border: 1px solid #eae7dc; }
    .skill:hover .skill-icon--html5 {
      background-color: #e34f26; }
    .skill:hover .skill-icon--css3 {
      background-color: #1572b6; }
    .skill:hover .skill-icon--javascript {
      background-color: #f7df1e; }
    .skill:hover .skill-icon--react {
      background-color: #61dafb; }
    .skill:hover .skill-icon--redux {
      background-color: #764abc; }
    .skill:hover .skill-icon--node {
      background-color: #393; }
    .skill:hover .skill-icon--mongodb {
      background-color: #47a248; }
    .skill:hover .skill-icon--git {
      background-color: #f05032; }
    .skill:hover .skill-icon--github {
      background-color: #000000; }
  .skill-icon {
    background-color: #eae7dc;
    fill: #8e8d8a;
    width: 7rem;
    height: 7rem;
    transition: all 0.5s ease-in-out; }
  .skill-text {
    margin-top: 2rem;
    font-size: 1.7rem;
    font-weight: normal;
    opacity: 0;
    letter-spacing: 0.3rem;
    transition: all 0.5s; }

.work {
  grid-column: center-start / center-end; }

.contact {
  background-color: #e85a4f;
  padding: 5rem;
  grid-column: full-start / full-end;
  color: #000;
  align-items: stretch; }
  .contact-form {
    font-family: "Nunito", sans-serif; }
    @media only screen and (max-width: 75em) {
      .contact-form {
        padding: 0 5vw; } }
    .contact-form .input-box {
      width: 100%;
      margin: 1rem;
      position: relative; }
      .contact-form .input-box label {
        font-size: 1.3rem;
        display: block;
        color: #d8c3a5;
        transition: all 0.2s ease-out;
        margin-top: 1rem;
        font-weight: bold; }
      .contact-form .input-box input + label {
        transform: translateY(-6rem); }
      .contact-form .input-box textarea + label {
        transform: translateY(-8rem); }
    .contact-form input[type="text"],
    .contact-form textarea {
      font-family: "Nunito", sans-serif;
      border: none;
      text-decoration: none;
      border-bottom: 1px solid #000;
      background: transparent;
      padding: 1.5rem 0 0.5rem;
      width: 100%;
      font-weight: bold; }
      .contact-form input[type="text"]::placeholder,
      .contact-form textarea::placeholder {
        color: #000; }
      .contact-form input[type="text"]:focus,
      .contact-form textarea:focus {
        border: 0;
        border-bottom: 1px solid currentColor;
        color: #d8c3a5;
        outline: none; }
  .contact .input-box input[type="text"]:placeholder-shown + label,
  .contact .input-box textarea:placeholder-shown + label {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-3.5rem); }

.flex-hrzntl {
  display: flex;
  justify-content: space-evenly; }

.gallery {
  grid-column: full-start / full-end; }

.footer {
  grid-column: full-start / full-end;
  background-color: #e85a4f;
  color: #d8c3a5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2.5rem;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 1.5px; }

.social {
  width: 5rem;
  display: flex;
  justify-content: space-between;
  list-style-type: none; }
  .social-icon {
    width: 2rem;
    height: 2rem;
    fill: currentColor; }
