// COLOR VARIABLES
$color-primary: #e98074;
$color-primary-dark: #e85a4f;

$color-secondary: #d8c3a5;

$color-grey-light-1: #eae7dc;
$color-grey-light-2: #d8d5cb;

$color-grey-dark-1: #8e8d8a;
$color-grey-dark-2: #747370;

// FONT VARIABLES
$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;

//RESPONSIVE BREAKPOINTS
$bp-largest: 75em; //1200px
$bp-small: 31.25em; //500px

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
  // scroll-behavior: smooth;

  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;
  }
  @media only screen and (max-width: $bp-small) {
    font-size: 31.2%;
  }
}

body {
  font-family: $font-primary;
  color: $color-grey-dark-1;
  font-weight: 300;
  line-height: 1.6;
  background-color: $color-grey-light-1;
}

.container {
  display: grid;
  grid-template-rows: 100vh repeat(5, min-content) 100vh;
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr) [full-end];
}

// .center {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mt-small {
  margin-top: 2rem;
}

.parallax {
  position: relative;
  // height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.btn {
  display: inline-block;
  background-color: transparent;
  padding: 1rem 2.5rem;
  border-radius: 5px;
  border: 1px solid currentColor;
}
