.footer {
  grid-column: full-start / full-end;
  background-color: $color-primary-dark;
  color: $color-secondary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2.5rem;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.social {
  width: 5rem;
  display: flex;
  justify-content: space-between;
  list-style-type: none;

  &-icon {
    width: 2rem;
    height: 2rem;
    fill: currentColor;
  }
}
