.navigation {
  grid-column: center-start / center-end;
  margin: 2rem auto;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;

  &__list {
    width: 35vw;
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 1.3rem;
  }

  &__link {
    text-transform: uppercase;
    text-decoration: none;
    color: $color-primary-dark;
    font-weight: 600;
    letter-spacing: 2px;
  }
}
