.heading-primary {
  font-size: 4rem;

  &--main {
    display: block;
    line-height: 1.4;

    & span {
      color: $color-primary-dark;
    }
  }
}

.heading-secondary {
  font-family: $font-display;
  font-size: 3rem;
  // font-variant: small-caps;
  text-transform: capitalize;
  color: $color-primary-dark;
  letter-spacing: 0.5rem;
  text-align: center;
  margin-bottom: 5vh;
}

.heading-gold {
  color: $color-secondary;
}
